<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
    <link rel='stylesheet' href='/stylesheets/addBike.css'>
</head>

<body>
  <div class="container">
    <% include ./nav %>
      <h4 id="addBikeTitle">Add/Edit Bicycle</h4>
      <form id="addBikeForm">
        <div class="form-group">
          <label for="input-type" class="col-form-label">Nickname</label>
          <select id="nickname" class="form-control">
          <option selected>Choose...</option>
          <option>New</option>
          <% bikes.forEach(bike => { %>
            <option><%= bike.nick_name %></option>
          <% }); %>
        </select>
        </div>
        <div class="form-group">
          <label for="new-nickname" class="col-form-label">New Nickname</label>
          <input id="newNickname" type="text" class="form-control" placeholder="Type a nickname">
          <p id="newNicknameStatus"></p>
        </div>
        <div id="typeDiv" class="form-group">
          <label for="input-type" class="col-form-label">Type</label>
          <select id="type" class="form-control">
          <option selected>Choose...</option>
          <option>road_bike</option>
          <option>mountain_bike</option>
          <option>city_bike</option>
        </select>
          <p id="typeStatus"></p>
        </div>
        <div class="form-group">
          <label for="bikeBrand" class="col-form-label">Brand</label>
          <input id="bikeBrand" type="text" class="form-control" placeholder="Brand">
          <p id="brandStatus"></p>
        </div>
        <div class="form-group">
          <label for="model" class="col-form-label">Model</label>
          <input id="model" type="text" class="form-control" placeholder="Model">
          <p id="modelStatus"></p>
        </div>

        <div id="bikeButtonsDiv">
          <button id="addBike" type="button" class="btn btn-primary bike-buttons">Add</button>
          <button id="updateBike" type="button" class="btn btn-primary bike-buttons">Update</button>
          <button id="deleteBike" type="button" class="btn btn-primary bike-buttons">Delete</button>
        </div>
        <div>
          <p id="doneStatus"></p>
        </div>

      </form>
  </div>
  <!--end of container-->
  <script src="/javascripts/feBike.js"></script>
</body>

</html>