<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
    <link rel='stylesheet' href='/stylesheets/addRide.css'>
</head>

<body>
  <div class="container">
    <% include ./nav %>
      <h4 id="addRideTitle">Add Ride</h4>
      <form id="add-ride-form">
        <div class="form-group">
          <label for="input-type" class="col-form-label">Bicycle Used</label>
          <select id="bike-used" class="form-control">
            <option selected>Choose...</option>
            <% bikes.forEach(bike => { %>
              <option><%= bike.nick_name %></option>
            <% }); %>
          </select>
          <p id="bikeStatus"></p>
        </div>
        <div class="form-group">
          <label for="date" class="col-form-label">Date</label>
          <input id="ride-date" type="date" class="form-control">
          <p id="dateStatus"></p>
        </div>
        <div class="form-group">
          <label for="input-type" class="col-form-label">Ride Name</label>
          <select id="ride-name" class="form-control">
            <option selected>Choose...</option>
            <option>New</option>
          </select>
          <p id="nameStatus"></p>
        </div>
        <div class="form-group">
          <label for="new-name" class="col-form-label">New Name</label>
          <input id="new-ride-name" type="text" class="form-control" placeholder="Type a Name">
          <p id="newNameStatus"></p>
        </div>
        <div id="smallFields">
          <div class="form-group row">
            <label for="distance" class="col-sm-2 col-form-label">Distance</label>
            <div class="col-sm-6">
              <input id="ride-distance" type="text" class="form-control" placeholder="Miles">
            </div>
            <p id="distanceStatus"></p>
          </div>
          <div class="form-group row">
            <label for="weather-condition" class="col-sm-2 col-form-label">Weather</label>
            <div class="col-sm-6">
              <select id="weather-condition" class="form-control">
              <option selected>Choose...</option>
              <option value="sun">Sun</option>
              <option value="ice">Ice</option>
              <option value="snow">Snow</option>
            </select>
            </div>
            <p id="weatherStatus"></p>
          </div>
          <div class="form-group row">
            <label for="road-condition" class="col-sm-2 col-form-label">Road</label>
            <div class="col-sm-6">
              <select id="road-condition" class="form-control">
              <option selected>Choose...</option>
              <option value="dry">Dry</option>
              <option value="icy">Icy</option>
              <option value="gravel">Gravel</option>
              <option value="wet">Wet</option>
            </select>
            </div>
            <p id="roadStatus"></p>
          </div>
        </div>
        <!--end of smallFields -->

        <div id="rideButtonsDiv">
          <button id="addRide" type="button" class="btn btn-primary ride-buttons">Add</button>
          <button id="updateRide" type="button" class="btn btn-primary ride-buttons">Update</button>
          <button id="deleteRide" type="button" class="btn btn-primary ride-buttons">Delete</button>
        </div>
      </form>
  </div>
  <!--end of container-->
  <script src="/javascripts/feRide.js"></script>
</body>

</html>
