<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
  <link rel='stylesheet' href='/stylesheets/addRide.css'>
</head>

<body>
  <div class="container">
    <% include ./nav %>
    <h4 id="add-ride-title">Add Ride</h4>
    <form id="add-ride-form">
      <div class="form-group">
        <label for="date" class="col-form-label-lg">Date</label>
        <input type="date" class="form-control">
      </div>
      <div class="form-group col-form-label-lg">
        <label for="input-type">Bicycle used</label>
        <select id="bike-used" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group">
        <label for="distance" class="col-form-label-lg">Distance</label>
        <input type="text" class="form-control" placeholder="Miles">
      </div>
      <div class="form-group col-form-label-lg">
        <label for="input-type">Weather condition</label>
        <select id="weather-condition" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
      <div class="form-group col-form-label-lg">
        <label for="input-type">Road condition</label>
        <select id="road-condition" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
          <option>...</option>
          <option>...</option>
        </select>
      </div>
      <div id="button-ride-done">
        <button id="done-adding-ride" type="submit" class="btn btn-primary ride-buttons">Done</button>
      </div>
      <div id="buttons-ride-add-delete">
        <button id="add-another-ride" type="submit" class="btn btn-primary ride-buttons" disabled>Add another</button>
        <button id="delete-ride" type="button" class="btn btn-outline-danger ride-buttons" disabled>Delete</button>
      </div>

    </form>
  </div>
  <!--end of container-->
</body>

</html>
