<footer id="footer-container" class="page-footer font-small unique-color-dark pt-0">
  <div class="container">
    <div class="row py-4 d-flex align-items-center">
      <div id="footerLeft" class="col-md-6 col-lg-5 text-center text-md-left mb-1 mb-md-0">
        <h6  style="color: white"><%= title %></h6>
      </div>
      <div id="footerRight" class="col-md-6 col-lg-7 text-center text-md-right">
        <a target="_blank" href="https://github.com/slledru">Sukmi Ledru
          <i class="fab fa-github"></i>
        </a><br>
        <a target="_blank" href="https://github.com/mcdecke">Mac Decker
          <i class="fab fa-github"></i>
        </a><br>
        <a target="_blank" href="https://github.com/TanyaPanich">Tanya Panich
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
