<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
  <link rel='stylesheet' href='/stylesheets/history.css'>
</head>

<body>
  <div class="container">
    <% include ./nav %>
    <h4 id="history-title">Repair History</h4>
    <div id="repair-history" class="jumbotron">
      <p id="repairs"></p>
    </div>
  </div>
  <!--end of container-->
</body>

</html>
