<!DOCTYPE html>
<html>
<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/phaser-ce/2.10.1/phaser.js"></script>
    <link rel='stylesheet' href='/stylesheets/home.css'
</head>

<body>
    <script src='app.js'></script>
</body>
</html>
