<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
  <link rel='stylesheet' href='/stylesheets/carousel.css'>
  <link rel='stylesheet' href='/stylesheets/partInfo.css'>
</head>

<body>
  <div class="container">
    <% include ./nav %>
    <% include ./carousel %>
    <% include ./partInfo %>
    <% include ./footer %>
  </div>
</body>

</html>
