<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser-ce/2.10.1/phaser.js"></script>
  <link rel='stylesheet' href='/stylesheets/carousel.css'>
  <link rel='stylesheet' href='/stylesheets/partInfo.css'>
  <link rel='stylesheet' href='/stylesheets/home.css'

</head>

<body>
  <div class="container">
    <% include ./nav %>
    <% include ./carousel %>
    <% include ./partInfo %>
    <!-- <% include ./footer %> -->
  </div>
</body>

</html>
