<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <header>
      <% include ./nav %>
        <header>
          <div>
            <% include ./carousel %>
          </div>
          <div>
            <% include ./partInfo %>
          </div>
          <div>
            <% include ./footer %>
          </div>
  </div>
  <!--end of container-->
</body>

</html>
