<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/stylesheets/navbar.css'>
    <link rel='stylesheet' href='/stylesheets/carousel.css'>
    <link rel='stylesheet' href='/stylesheets/partInfo.css'>
    <link rel='stylesheet' href='/stylesheets/footer.css'>
</head>

<body>
  <div class="container">

      <% include ./nav %>

      <% include ./carousel %>

      <% include ./partInfo %>

      <% include ./footer %>
  </div>
  <!--end of container-->
</body>

</html>
