<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
  <link rel='stylesheet' href='/stylesheets/loginSignup.css'>
</head>

<body>
  <div class="container">
    <% include ./navNoDropdown %>
    <h4 id="motto">
      Come to us any time, we will tell you whether your bicycle is ready for the next adventure.
    </h4>
    <% include ./loginButtons %>
    <% include ./footer %>
  </div>
  <!--end of container-->
</body>

</html>
