<div id="login-options">
  <button id="signup" type="button" class="btn btn-primary btn-lg login-opt">Sign Up</button>
  <button id="login" type="button" class="btn btn-primary btn-lg login-opt">Login</button>
  <button id="strava" type="button" class="btn btn-primary btn-lg login-opt">Sign Up with Strava</button>
</div>
