<div id="login-options">
  <!-- <button id="signup-button" type="button" class="btn btn-primary btn-lg login-opt">Sign Up</button> -->
  <a id="signup-button" class="btn btn-primary btn-lg login-opt" href="/signup" role="button">Sign up</a>
  <a id="login-button" class="btn btn-primary btn-lg login-opt" href="/login" role="button">Login</a>
  <a id="strava-button" class="btn btn-primary btn-lg login-opt" href="/strava/oauth" role="button">Sign Up with Strava</a>
</div>
