<!DOCTYPE html>
<html>

<head>
  <% include ./head %>
  <link rel='stylesheet' href='/stylesheets/loginSignup.css'>
</head>

<body>
  <div class="container">
    <% include ./nav %>
    <% include ./loginButtons %>
    <% include ./footer %>
  </div>
  <!--end of container-->
</body>

</html>
