<nav class="navbar navbar-dark bg-dark">
  <a id="brand" class="navbar-brand" href="#">
    <img src="images/bike.png" width="50" height="50" alt="">
  </a>
  <a id="title" class="navbar-title" href="#">
   <%= title %>
  </a>
  <ul class="nav">
    <li class="nav-item dropdown">
      <a id="dropdown" class="nav-link dropdown-toggle dropdown-menu-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item pull-right" href="#">History</a>
        <a class="dropdown-item pull-right" href="#">Log out</a>
      </div>
    </li>
  </ul>
</nav>
