<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <li class="nav-item dropdown">
      <a id="dropdown" class="nav-link dropdown-toggle dropdown-menu-right" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </a>
      <div id="dropdown-nav-manu" class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item pull-right" href="/home">Home</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pull-right" href="/bike">Bicycle</a>
        <a class="dropdown-item pull-right" href="/part">Parts</a>
        <a class="dropdown-item pull-right" href="/ride">Ride</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pull-right" href="/setting">Settings</a>
        <a class="dropdown-item pull-right" href="/profile">Profile</a>
        <a class="dropdown-item pull-right" href="/history">History</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item pull-right" href="/">Log out</a>
      </div>
    </li>
  </ul>
  <a id="title" class="navbar-title" href="/home">
   <%= title %>
  </a>
  <a id="brand" class="navbar-brand" href="/home">
    <img src="/images/bike.png" width="50" height="50" alt="">
  </a>
</nav>
