<nav class="navbar navbar-dark bg-dark">
  
  <a id="title" class="navbar-title" href="#">
   <%= title %>
  </a>
  <a id="brand" class="navbar-brand" href="#">
    <img src="/images/bike.png" width="50" height="50" alt="">
  </a>
</nav>
