#addBikeForm {
  margin: 2rem;
}

.col-form-label-lg {
  padding-top: 0;
}

label {
  margin-bottom: 0;
}

.form-control {
  color: blue;
}

#add-bike-title {
  text-align: center;
  margin: 1rem 2rem;
}

#typeDiv {
  margin-bottom: 0;
}

#bikeButtonsDiv {
  display: flex;
  justify-content: space-around;
}

#addBike {
  flex: 1;
}

#updateBike {
  flex: 1;
}

#deleteBike {
  flex: 1;
}

#doneStatus, #newNicknameStatus, #typeStatus, #brandStatus, #modelStatus {
  color: red;
}

.bike-buttons {
  margin: 0.5rem;
}
