#add-bike-form {
  margin: 2rem;
}
.col-form-label-lg {
  padding-top: 0;
}

label {
  margin-bottom: 0;
}

#add-bike-title {
  text-align: center;
  margin: 1rem 2rem;
}

.add-bike-buttons {
  text-align: center;
  margin: 2rem;
}
