#add-part-form {
  margin: 2rem;
}
.col-form-label-lg {
  padding-top: 0;
}

label {
  margin-bottom: 0;
}

#add-part-title {
  text-align: center;
  margin: 1rem 2rem;
}

div.form-group.row {
  flex-wrap: nowrap;
}

.part-buttons {
  margin: 0.5rem;
}
