#add-part-form {
  margin: 2rem;
}
.col-form-label-lg {
  padding-top: 0;
}

label {
  margin-bottom: 0;
}

#add-part-title {
  text-align: center;
  margin: 1rem 2rem;
}

#done-adding-part {
  width: 10rem;
}

#button-part-done {
  display: flex;
  justify-content: space-around;
}

#buttons-part-add-delete {
  display: flex;
  justify-content: space-around;
}

#add-another-part {
  flex: 1;
}

#delete-part {
  flex: 1;
}

.part-buttons {
  margin: 0.5rem;
}
