#add-ride-form {
  margin: 2rem;
}
.col-form-label-lg {
  padding-top: 0;
}

label {
  margin-bottom: 0;
}

#add-ride-title {
  text-align: center;
  margin: 1rem 2rem;
}

#done-adding-ride {
  width: 10rem;
}

#button-ride-done {
  display: flex;
  justify-content: space-around;
}

#buttons-ride-add-delete {
  display: flex;
  justify-content: space-around;
}

#add-another-ride {
  flex: 1;
}

#delete-ride {
  flex: 1;
}

.ride-buttons {
  margin: 0.5rem;
}
