#add-ride-form {
  margin: 2rem;
}
.col-form-label-lg {
  padding-top: 0;
}

label {
  margin-bottom: 0;
}

#addRideTitle {
  text-align: center;
  margin: 1rem 2rem -1rem 2rem;
}

.form-group {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

div.form-group.row {
  flex-wrap: nowrap;
}

.form-control {
  color: blue;
}

#smallFields {
  margin-left: 1rem;
  margin-right: 1rem;
}

#rideButtonsDiv {
  display: flex;
  justify-content: space-around;
}

#addRide {
  flex: 1;
}

#updateRide {
  flex: 1;
}

#deleteRide {
  flex: 1;
}

#bikeStatus, #dateStatus, #nameStatus, #newNameStatus, #distanceStatus, #weatherStatus, #roadStatus {
  display: none;
  color: red;
}

.ride-buttons {
  margin: 0.5rem;
}
