#motto {
  text-align: center;
  margin: 0.5rem 2rem;
}

#login-options {
  height: auto;
  display: flex;
  flex-direction: column;
}

.login-opt {
  margin: 1rem 5rem;
  flex: 1;
  font-size: 1.5rem;
  padding-top: 1rem;

}

#strava-button {
  margin-bottom: 3rem;
}

@media(min-width:1000px) {
  #login-options {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
