#motto {
  text-align: center;
  margin: 1rem 2rem;
}
#login-options {
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-opt {
  margin: 2rem 5rem;
  flex: 1;
}

@media(min-width:800px) {
  #login-options{
    max-width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
