.navbar {
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#title {
  font-size: 1.2rem;
  color: white;
  position: absolute;
  left: 50%;
  margin-left: -60px !important;  /* 50% of your logo width */
  display: block;
}

#dropdown {
  margin-left: 0.1rem;
  padding-left: 1rem;
}

.dropdown-menu {
  font-size: 1.2rem;
  line-height: 3rem;
}

@media(min-width:800px) {
  #dropdown {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
  }
}
