.container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  color: #f8f9fa;
}

@media(min-width:800px){
  .container {
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
  }

  body {
    padding: 50px;
  }
}
